* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", serif;
}

:root {
  background-color: #3b3d3e;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

nav {
  background-color: #292a2b;
  color: white;
  text-align: center;
  min-width: 100vw;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.container {
  /* max-width: 500px; */
  width: 100%;
  overflow-x: hidden;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: solid rgb(144, 38, 57) 5px;
  box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
  /* For desktop: */
 .container {max-width: 500px;}
}

.header-container {
  display: flex;
  flex-direction: column;
}

h1 {
  align-items: center;
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
  justify-content: center;
}

.header-img-wrapper {
  display: flex;
  /* gap: 10px; */
  align-items: center;
  position: relative;
  right: 25px;
}

.link-box > a {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
}
img.icon {
  max-height: 50px;
  min-height: 45px;
  width: auto;
  border-bottom: solid rgb(144, 38, 57);
  border-radius: 5px;
}

img.icon:hover {
  background-color: #6e7274;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: rgb(255, 255, 255);
  position: relative;
}

h3 {
  right: 35px;
}

/* .skill-box > h4 {
  position: relative;
  right: 5px;
} */

.project {
  max-width: 200px;
  /* max-height: 125px; */
  background-color: pink;
  border: solid rgb(144, 38, 57) 3px;
  border-radius: 5px;
}

/* .project-container {
  display: flex;
  gap: 10px;
} */

.project-box {
  padding: 5px;
}

.project-box:hover {
  background-color: #6e7274;
}
