* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', serif;
}

:root {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

html {
  height: 100%;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

p {
  font-size: large;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: 500px; */
  width: 100%;
  /* overflow-x: hidden; */
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  /* border-left: solid rgb(144, 38, 57) 5px; */
  height: 100vh;
}

.page-link {
  border-radius: 5px;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  /* For desktop: */
  .container {
    max-width: 800px;
  }

  html {
    border-left: 0;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
}

header-component {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  align-items: center;
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
  justify-content: center;
}

.header-img-wrapper {
  display: flex;
  /* gap: 10px; */
  align-items: center;
  position: relative;
  right: 25px;
}

.link-box > a {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
}

img.icon {
  max-height: 40px;
  min-height: 25px;
  width: auto;
  border-bottom: solid #902639;
  border-radius: 5px;
}

img.icon:hover {
  background-color: #6e7274;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: #000000;
  position: relative;
}

h3 {
  right: 35px;
}

h4 {
  border-bottom: solid #902639;
  border-radius: 5px;
  width: fit-content;
}

.project-sub {
  font-size: small;
  font-style: italic;
}

.project {
  max-width: 200px;
  /* max-height: 125px; */
  background-color: pink;
  /* border: solid rgb(144, 38, 57) 3px; */
  border-radius: 5px;
}

.project-container {
  padding-top: 25px;
}

.project-box {
  padding: 5px;
}

.project-box:hover {
  background-color: #fcf1ff;
}
