* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', 'Trebuchet MS', Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

:root {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

html {
  height: 100%;
}

a {
  /* color: rgb(0, 0, 0); */
  text-decoration: none;
}

#underline {
  text-decoration: underline;
}

p, ul, li {
  font-size: large;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.page-link {
  /* border-radius: 5px; */
  text-align: center;
  background-color: #f0f0f0;
}

@media only screen and (min-width: 500px) {
  /* For desktop: */
  .container {
    max-width: 800px;
  }

  html {
    border-left: 0;
  }
}

h1 {
  align-items: center;
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.75rem;
  justify-content: center;
}

.header-img-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  right: 25px;
}

.link-box > a {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
}

img.icon {
  max-height: 40px;
  min-height: 25px;
  width: auto;
  border-bottom: solid #902639;
  border-radius: 5px;
}

img.icon:hover {
  background-color: #6e7274;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: #000000;
  position: relative;
}

h4 {
  border-bottom: solid #902639;
  border-radius: 5px;
  width: fit-content;
}

.content-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.company {
  font-weight: bold;
}

.company-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.position {
  font-style: italic;
}

.exp-container {
  display: flex;
  gap: 5px;
  align-items: center;   /* vertically align everything */
  justify-content: space-between; /* push left stuff and right stuff apart */
}

.exp-logo-title {
  display: flex;
  gap: 5px;
}

.exp-time-loc {
  text-align: right;
}
